html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-section {
    height: 100%;
}

.selected-place{
    text-decoration: underline;
    color: blue;
}

/*css: {'selected-place': $data.id === selectedPlace.id}*/